/* pagination */

.paging {
  display: flex;
  justify-content: space-between;
}

.paging, .pagination {
  font-family: var(--font-european);
  margin-top: 2rem;
}

.paging a, .pagination a {
  text-decoration: none;
}

/* nkmk */

.youtube-video {
  width: 60%;
  margin: 2rem auto;
  aspect-ratio: 16/9;
}

.youtube-video iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 640px) {
  .youtube-video {
    width: 100%;
  }
}


pre {
  /* override */
  border: none;
  padding: 0;
  font-size: initial;
  line-height: initial;
  overflow-x: hidden;
  background: inherit;
  overflow-y: hidden;
  white-space: pre-wrap;
  text-align: center;
}

pre p {
  margin: 0;
  line-height: 1;
}

pre .even-line {
  font-family: var(--font-heading);
  font-size: var(--fontsize-6);
  color: var(--gray60);
}

pre .odd-line {
  font-family: var(--font-european);
  font-size: var(--fontsize-4);
  color: var(--gray30);
}

/* js が消す */
pre .emoji {
  filter: grayscale(100%);
}

pre .odd-line:first-child {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--fontsize-3);
  padding-right: 2rem;
}

